{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Blog Website</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="{% static 'images/icons/blog.png' %}" />
  <link rel="stylesheet" href="{% static 'css/Forms.css' %}">
</head>
<body>

  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> set new password </h2>
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="{% static 'images/reset_password.png' %}" id="icon" alt="User Icon" />
      </div>
      {% if form.errors %}
      <div class="errors">
          <ul>
              {% for field in form %}
                  {% for error in field.errors %}
                      <li> {{ field.label }}: {{ error }} </li>
                  {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                  <li> {{ error }} </li>
              {% endfor %}
          </ul>
      </div>
  {% endif %}
  
      <!-- Login Form -->
    <form method="post">       
        {% csrf_token %} 
      <input type="password" placeholder="New Password" name="new_password1" autocomplete="new-password" aria-invalid="true" aria-describedby="id_new_password1_helptext" id="id_new_password1">
      <input type="password" placeholder="New Password Confirmation" name="new_password2" autocomplete="new-password" aria-invalid="true" aria-describedby="id_new_password2_helptext" id="id_new_password2">

    
  


        <input type="submit" value="Change My Password" class="btn btn-success">
    </form>


    </div>
  </div>
</body>
</html>

