{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Blog Website</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="{% static 'images/icons/blog.png' %}" />
  <link rel="stylesheet" href="{% static 'css/Forms.css' %}">
</head>
<body>

  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Forgot your password</h2>
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="{% static 'images/login.svg' %}" id="icon" alt="User Icon" />
      </div>
      {% if form.errors %}
      <div class="errors">
          <ul>
              {% for field in form %}
                  {% for error in field.errors %}
                      <li> {{ field.label }}: {{ error }} </li>
                  {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                  <li> {{ error }} </li>
              {% endfor %}
          </ul>
      </div>
  {% endif %}
  
      <!-- Login Form -->
      <h1>Change Password</h1>
      <form method="post">
        {% csrf_token %}
        <input type="password" name="old_password" placeholder="Old Password" autocomplete="current-password" autofocus="" required="" id="id_old_password">
        <input type="password" name="new_password1" placeholder="New Password" autocomplete="new-password"  aria-describedby="id_new_password1_helptext" id="id_new_password1">
        <input type="password" name="new_password2" placeholder="New Password Confirmation" autocomplete="new-password"  aria-describedby="id_new_password2_helptext" id="id_new_password2">
        <input type="submit" value="Chenge My Password" class="btn btn-success">
    </form>
    </div>
  </div>
</body>
</html>

