{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Blog Website</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="{% static 'images/icons/blog.png' %}" />
  <link rel="stylesheet" href="{% static 'css/Forms.css' %}">
  <script src="{% static 'js/redirect_home.js' %}"></script>
</head>
<body>

  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Your password reset successfully </h2>
      <p>backing to home page</p>
      <h1 id="countdown" class="active"></h1>
  
      <!-- Icon -->
      <div class="fadeIn first">
          <img src="{% static 'images/success.png' %}" id="icon" alt="User Icon" />
        </div>  
    </div>
  </div>
</body>
</html>
