{% extends 'base.html' %}
{% load static %}


{% block content %}
            
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="{% url 'home' %}">Blog Website</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'all_posts' %}">Posts</a></li>


                            {% if user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'add_post' %}">Add Post</a></li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user.email }}</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                                    <li><a class="dropdown-item" href="{% url 'password_change' %}">Password Change</a></li>
                                    <li><a class="dropdown-item" href="{% url 'password_reset' %}">Password Reset</a></li>
                                    <li><a class="dropdown-item" href="{% url 'logout' %}", onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a></li>
                                   
                                    <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: inline;">
                                        {% csrf_token %}
                                    </form>
                                </ul>
                            </li>

                            {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Sign Up</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Header-->
            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">Blog website project</h1>
                                <p class="lead fw-normal text-white-50 mb-4">Click on the project info to get more details about it.</p>

                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'project_info' %}">Project Info</a>
                                    <a class="btn btn-outline-light btn-lg px-4" href="{% url 'about_me' %}">About Me</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="{% static 'images/600in400.png' %}" alt="..." /></div>
                    </div>
                </div>
            </header>
            
            <!-- Features section-->
            <section class="py-5" id="features">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Features</h2></div>
                        <div class="col-lg-8">
                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                                    <h2 class="h5">Django</h2>
                                    <p class="mb-0">Backend framework</p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                                    <h2 class="h5">Open Source Code</h2>
                                    <a href="https://github.com/erfanmor">Visit</a>
                                </div>
                                <div class="col mb-5 mb-md-0 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                    <h2 class="h5">DRF</h2>
                                    <p class="mb-0">API <a href="{% url 'swagger' %}">document</a></p>
                                    
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                                    <h2 class="h5">Postgresql</h2>
                                    <p class="mb-0">Database</p>
                                </div>
                                <div class="col h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                    <h2 class="h5">JWT</h2>
                                    <p class="mb-0">Authentication</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Testimonial section-->
            <div class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-7">
                            <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic">Hi Im Erfan</div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <img class="rounded-circle me-3" src="https://avatars.githubusercontent.com/u/177880886?v=4" style="width: 5rem;" alt="..." />
                                    <div class="fw-bold">
                                        Erfan Mor
                                        <span class="fw-bold text-primary mx-1">/</span>
                                        Backend developer
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- New posts section-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">Recent Posts</h2>
                                <p class="lead fw-normal text-muted mb-5">In this section you can see new posts.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        {% block 'recent_posts' %}
                            {% include 'post/recent_posts.html' %}
                        {% endblock 'recent_posts' %}
                    </div>
                </div>
            </section>
        </main>


{% endblock content %}

